body {
  background: #f3f3f3;
}
#container {
  width: 100%;
  height: 350px;
}
.red {
  color: red!important;
}
#row1 {
  display: flex;
}
#row1 > .lf {
  flex: 1 1 1058px;
  padding: 15px 18px;
  background: white;
}
#row1 > .lf > h5 {
  font-size: 18px;
  vertical-align: middle;
  border-left: 8px solid #418aea;
  padding-left: 8px;
}
#row1 > .lf > h5 > .rt {
  cursor: pointer;
  height: 24px;
  width: 25px;
  background: url(../img/refresh-2.png) no-repeat center center;
}
#row1 > .lf > table {
  margin-top: 17px;
  font-size: 16px;
  width: 100%;
  border-left: 1px solid #9fd7fe;
  border-top: 1px solid #9fd7fe;
  text-align: center;
}
#row1 > .lf > table > thead {
  border-color: white;
}
#row1 > .lf > table > thead td {
  background: #9fd7fe;
  border-right: 1px solid white;
}
#row1 > .lf > table > thead td:not(:first-child){
	width:10%;
}
#row1 > .lf > table > thead td:last-child {
  border-right: 1px solid #9fd7fe;
}
#row1 > .lf > table td {
  height: 63px;
  border-right: 1px solid #9fd7fe;
  border-bottom: 1px solid #9fd7fe;
}
#row1 > .rt {
  flex: 1 1 555px;
  background: white;
  padding: 15px 18px;
  margin-left: 10px;
}
#row1 > .rt > h5 {
  font-size: 18px;
  vertical-align: middle;
  border-left: 8px solid #418aea;
  padding-left: 8px;
}
#row1 > .rt > h5 > .rt {
  cursor: pointer;
  height: 24px;
  width: 25px;
  background: url(../img/refresh-2.png) no-repeat center center;
}
#row2 {
  display: flex;
  margin-top: 10px;
}
#row2 > .lf {
  flex: 1 1 auto;
  width: 805px;
  padding: 15px 18px;
  background: white;
}
#row2 > .lf > h5 {
  font-size: 18px;
  vertical-align: middle;
  border-left: 8px solid #418aea;
  padding-left: 8px;
}
#row2 > .lf > h5 > .rt {
  height: 24px;
  cursor: pointer;
  width: 25px;
  background: url(../img/refresh-2.png) no-repeat center center;
}
#row2 > .lf > ul {
  counter-reset: count;
}
#row2 > .lf > ul > li {
  height: 60px;
  line-height: 59px;
  border-bottom: 1px solid #f3f3f3;
  font-size: 16px;
}
#row2 > .lf > ul > li > a {
  text-decoration: none;
}
#row2 > .lf > ul > li > span {
  color: gray;
}
#row2 > .lf > ul > li::before {
  content: " ";
  float: left;
  font-size: 22px;
  margin: 0 10px;
  width: 14.36px;
  height: 1px;
}
#row2 > .lf > ul > li.li-active > a {
  color: black;
}
#row2 > .lf > ul > li.li-active::before {
  content: "â—";
  color: orange;
  float: left;
  font-size: 22px;
  margin: 0 10px;
}
#row2 > .lf > ul > li::after {
  content: " ";
  clear: both;
  display: block;
  overflow: hidden;
  font-size: 0;
  height: 0;
}
#row2 > .rt {
  flex: 1 1 auto;
  width: 805px;
  margin-left: 10px;
  padding: 15px 18px;
  background: white;
}
#row2 > .rt > h5 {
  font-size: 18px;
  vertical-align: middle;
  border-left: 8px solid #418aea;
  padding-left: 8px;
}
#row2 > .rt > h5 > .rt {
  margin: 0 10px;
  cursor: pointer;
}
#row2 > .rt > h5 > .rt:nth-child(1) {
  height: 24px;
  width: 25px;
  background: url(../img/refresh-2.png) no-repeat center center;
}
#row2 > .rt > h5 > .rt:nth-child(2) {
  height: 24px;
  width: 25px;
  background: url(../img/list-8.png) no-repeat center center;
}
#row2 > .rt > h5 > .rt:nth-child(3) {
  height: 24px;
  width: 25px;
  background: url(../img/message.png) no-repeat center center;
}
#row2 > .rt > ul > li {
  font-size: 16px;
  height: 60px;
  line-height: 60px;
  margin-left: 35px;
 /*  background: url(../img/point.png) center; */
}
#row2 > .rt > ul > li > a {
  text-decoration: none;
  padding-right: 10px;
  background: white;
  max-width: 557px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#row2 > .rt > ul > li > span {
  font-size: 14px;
  padding-left: 10px;
  color: gray;
  background: white;
}
#row3 {
  display: flex;
  margin-top: 10px;
}
#row3 > .lf {
  flex: 1 1 auto;
  width: 805px;
  padding: 15px 18px;
  background: white;
}
#row3 > .lf > h5 {
  font-size: 18px;
  vertical-align: middle;
  border-left: 8px solid #418aea;
  padding-left: 8px;
  height: 24px;
}
#row3 > .lf > h5 > .rt {
  cursor: pointer;
  height: 24px;
  width: 25px;
  background: url(../img/refresh-2.png) no-repeat center center;
}
#row3 > .lf > ul > li {
  font-size: 16px;
  height: 60px;
  line-height: 60px;
  margin-left: 35px;
  background: url(../img/point.png) center;
}
#row3 > .lf > ul > li > a {
  text-decoration: none;
  padding-right: 10px;
  background: white;
  max-width: 557px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#row3 > .lf > ul > li > span {
  font-size: 14px;
  padding-left: 10px;
  color: gray;
  background: white;
}
#row3 > .rt {
  flex: 1 1 auto;
  width: 805px;
  margin-left: 10px;
  padding: 15px 18px;
  background: white;
}
#row3 > .rt > h5 {
  font-size: 18px;
  vertical-align: middle;
  border-left: 8px solid #418aea;
  padding-left: 8px;
}
#row3 > .rt > h5 > .rt {
  height: 24px;
  width: 25px;
  background: url(../img/refresh-2.png) no-repeat center center;
  cursor: pointer;
}
#row3 > .rt > ul > li {
  font-size: 16px;
  height: 60px;
  line-height: 60px;
  background: url(../img/point.png) center;
}
#row3 > .rt > ul > li > b {
  float: left;
  width: 35px;
  height: 100%;
  background: white;
}
#row3 > .rt > ul > li > b b {
  background: url(../img/todo.png) no-repeat center center;
  float: left;
  width: 35px;
  height: 100%;
}
#row3 > .rt > ul > li > b.read {
  float: left;
  width: 35px;
  height: 100%;
  background: white;
}
#row3 > .rt > ul > li > b.read b {
  background: url(../img/todoBlack.png) no-repeat center center;
  float: left;
  width: 35px;
  height: 100%;
}
#row3 > .rt > ul > li > a {
  text-decoration: none;
  padding-right: 10px;
  background: white;
  max-width: 557px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#row3 > .rt > ul > li > span {
  font-size: 14px;
  padding-left: 10px;
  color: gray;
  background: white;
}
